* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    
  }
  header, footer {
    height: 10vh;
    background-color: #4a2040;
  }
  footer
  {
    position: absolute;
    min-width: 100vw;
    bottom: 0;

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A2040;
  }
  li {
    float: left;
  }
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.background
{
  background-image: url(../imgs/background.jpg);
  min-height: 10vh;
}

.cliente
{
  text-align: left;
  color: white;
}

.texto
{
  text-align: left;
  margin: auto;
}

iframe
{
  display: block;
  margin: auto;
  text-align: center;
}